<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <link th:href="@{/tailwind.css}" href="../static/tailwind.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
  <script th:src="@{/app.js}" src="../static/app.js"></script>
</head>
<body>
<main class="pt-8 text-center">
  <h1 class="mb-8 text-3xl font-bold uppercase">Tic Tac Toe</h1>
  <div id="gameState" th:text="${message}">
    Connecting to game...
  </div>
  <form id="board" class="grid grid-cols-3 mx-auto w-64 border-black border-solid border-2"
        th:action="@{/game}" method="post">
  </form>
</main>
</body>
</html>
